{% extends "base.html.twig" %}

{% block body %}

    <div class="template">

        <header>

            {% block header %}
                {{ menu() }}
                <span data-image-preload="{{largeImage}}"></span>
            {% endblock %}


        </header>

        <div class="container">
            <h3>{{ title }}</h3>

            <p class="text">{{ text | raw }}</p>

            <div>
                {# Show info about variables data #}
                {# {{ dump(users)}} #}

                <h5>Example loop in twig</h5>
                {% if users|length > 0 %}
                    <h6>Users:</h6>
                    <ol>
                        {% for user in users %}
                            <li> {{ user.lastName}}, {{ user.firstName }} </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>

            <div>
                <h5>Filters example</h5>
                <p>Welcome {{ 'Custom filter' | customFilter }}</p>
            </div>

            <div>
                <h5>Functions example</h5>
                <p>{{ customFunction('Hello') }}</p>
            </div>

        </div>

    </div>

    {{ parent() }}

{% endblock %}
